// Body
$body-bg: #2E2E2E;
$body-color: #FFFFFF;

// Typography
$font-family-base: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
$font-size-base: 1rem;
$font-size-title: 2.5rem;
$font-size-subtitle: 1.75rem;

//colors
$red: #DE0101;
$malachite: #12D87D;
$blue: #0031FF;
$sunglow : #FFD136;

$button-text: black;
$button-border: #4d4d4d;
$button-hover: #d7d8d4;

body {
    color:white
}

h1 {
    font-size: $font-size-title;
    color: white;
}

h2{
    font-size: $font-size-subtitle;
    color: white;
}