.landingWrapper {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	h1 {
		margin-top: 3em;
		font-size: 65px;
		text-transform: uppercase;
	}

	.landingSearchBarWrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
        margin-top: calc(2em + 2rem);

		span {
			font-size: 25px;
		}

		.landingSearchBarInput {
			position: relative;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.locationButton {
				margin-top: 1rem;
				width: 75px;
				height: calc(5vh + 5px);
                border-right: 0px;
                background: black; 

				i {
                    font-size: 35px;
                    color: white; 
				}
			}

			input {
				margin-top: 1rem;
				width: 1000px;
				height: 5vh;
				font-size: 25px;
				border-left: 0px;
			}

			.inputButton {
				right: 0;
				width: 150px;
				height: calc(5vh + 5px);
				border-bottom-right-radius: 500px;
				border-top-right-radius: 500px;
				font-size: 25px;
                margin-top: 1rem;
                color: white;
                background: black; 
			}
		}
	}
}